@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("charset", "utf-8");
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    SetMeta("viewport", "width=device-width, initial-scale=1.0");

    Style.Include("bootstrap.min.css").AtHead();
    Style.Include("modern-business.css");
    Style.Include("site-min.css");

    /* Inserting some ad hoc shapes
    ***************************************************************/

    // WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

}

@if (Model.Navigation != null)
{
    @Display(Model.Navigation)
}

@if (Model.Header != null)
{
    @Display(Model.Header)
}

<div class="container body-content">
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Content != null)
            {
                @Display(Model.Content)
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model.AfterContent != null)
            {
                @Display(Model.AfterContent)
            }
        </div>
    </div>   
    
    @if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
    {
        <div class="row triple-section">
            @if (Model.TripelThird != null)
            {
            <div class="content-block tripel-first col-md-4">
                @Display(Model.TripelFirst)
            </div>
            <div class="content-block col-md-4">
                @Display(Model.TripelSecond)
            </div>
            <div class="content-block col-md-4">
                @Display(Model.TripelThird)
            </div>
            }
            else if (Model.TripelSecond != null)
            {
            <div class="content-block col-md-6">
                @Display(Model.TripelFirst)
            </div>
            <div class="content-block tripel-first col-md-6">
                @Display(Model.TripelSecond)
            </div>
            }
            else
            {
            <div class="content-block tripel-first col-md-12">
                @Display(Model.TripelFirst)
            </div>
            }
            </div>
            }
        </div>
        
<div class="row">
    <div class="col-xs-12">
        @Display(Model.Footer)
    </div>
</div>



<script type="text/javascript">
    //<![CDATA[
    $(function () {
        ivNet.carosel.initialise();
    })
    //]]>
</script>

